<div class="band-listing">
  <% @bands.each do |band| %>
  <%= link_to(band, class: 'band') do %>
    <div class="status<% if band.activities.current_activity.try(:last) %> active<% end %>">
      <div class="info">
        <h3><%= band.name %></h3>
        <h4><%= band.genre.name %>: <%= band.genre.style %></h4>
        <h5><u><%= band.fans %></u> fans, <u><%= band.buzz %></u> buzz</h5>
      </div>
      <ul>
        <li><img src="http://avataaars.io/?accessoriesType=Prescription02&avatarStyle=Transparent&clotheType=Overall&eyeType=Cry&eyebrowType=UpDownNatural&facialHairType=BeardLight&hairColor=SilverGray&mouthType=Eating&skinColor=Brown&topType=LongHairShavedSides" alt=""></li>
        <li><img src="http://avataaars.io/?accessoriesType=Sunglasses&avatarStyle=Transparent&clotheColor=Red&clotheType=CollarSweater&eyeType=Side&eyebrowType=UnibrowNatural&facialHairColor=Auburn&facialHairType=Blank&hairColor=PastelPink&mouthType=Serious&skinColor=Pale&topType=LongHairBun" alt=""></li>
        <li><img src="http://avataaars.io/?accessoriesType=Blank&avatarStyle=Transparent&clotheColor=Blue01&clotheType=Overall&eyeType=Default&eyebrowType=SadConcernedNatural&facialHairColor=BlondeGolden&facialHairType=BeardMagestic&hairColor=Auburn&mouthType=Serious&skinColor=Yellow&topType=LongHairFrida" alt=""></li>
        <li><img src="http://avataaars.io/?accessoriesType=Prescription01&avatarStyle=Transparent&clotheColor=PastelYellow&clotheType=BlazerSweater&eyeType=Default&eyebrowType=UnibrowNatural&facialHairColor=BrownDark&facialHairType=Blank&hairColor=BlondeGolden&mouthType=Eating&skinColor=Brown&topType=ShortHairSides" alt=""></li>
      </ul>
    </div>
    <% if band.activities.current_activity.try(:last) %>
    <div class="action">
      <%= band.activities.current_activity.try(:last).humanize_action %> for <u data-endtimes="<%= band.activities.current_activity.try(:last).ends_at %>"></u>
    </div>
    <% end %>
  <% end %>
  <% end %>
  <% if current_manager == @manager %>
  <%= link_to(new_band_path, class: 'band new') do %>
    <div class="status">
      <div class="info">
        <i class="fas fa-user-plus"></i>
        <h3>Start a new band</h3>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
<!--
  <hr>
<h2>Badges</h2>
  <div class="badge-listing">
    <% @badges.each do |badge| %>
    <span class="badge badge-pill badge-secondary" title="<%= badge.description %>"><%= badge.name %></span>
    <% end %>
  </div>
-->