<% @body_class = "full-width" %>
<section class="profile-header band-profile">
  <div class="info">
    <div class="band-avatar">
      <ul class="band-members" data-member-count="<%= @band.genre.skills.count %>">
        <% @band.genre.skills.each do |genre_skill| %>
          <% member = @band.members.with_skill(genre_skill).first %>
          <li>
            <%= image_tag member.avatar_url %>
            <div class="tooltip">
              <h6><%= member.name %></h6>
              <ul class="skills">
                <li><%= render partial: "skills/progress", locals: {skill_name: member.primary_skill.name, skill_level: member.skill_primary_level} %></li>
                <li><%= render partial: "skills/progress", locals: {skill_name: "Fatigue", skill_level: member.trait_fatigue, negative: true} %></li>
                <li><%= render partial: "skills/progress", locals: {skill_name: "Looks", skill_level: member.trait_looks} %></li>
                <li><%= render partial: "skills/progress", locals: {skill_name: "Creativity", skill_level: member.trait_creativity} %></li>
                <li><%= render partial: "skills/progress", locals: {skill_name: "Ego", skill_level: member.trait_ego, negative: true} %></li>
              </ul>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="about">
      <h1><%= @band.name %></h1>
      <h2><%= @band.genre.name %>: <%= @band.genre.style %></h2>
      <h3><u class="data-fans"><%= @band.fans %></u> fans, <u class="data-buzz"><%= @band.buzz %></u> buzz</h3>
    </div>
  </div>
</section>

<section class="actions">
  <div class="action_items">
    <a href="#" class="chooser" data-target="practice"><b>Practice</b> <span>Improves the skill level of each member</span></a>
    <a href="#" class="chooser" data-target="gig"><b>Gig</b> <span>Gain fans and make money</span></a>
    <a href="#" class="chooser" data-target="write-song"><b>Write</b> <span>Needed to play gigs and grow fans</span></a>
    <a href="#" class="chooser" data-target="record"><b>Record</b> <span>Gets a song ready to release</span></a>
    <a href="#" class="chooser" data-target="release"><b>Release</b> <span>Put your song out there to make money</span></a>
    <a href="#" class="chooser" data-target="rest"><b>Rest</b> <span>Too fatigued? Bad things will happen</span></a>
  </div>
  <div class="choices">
    <% if @activity %>
    <div class="current_activity">
      Currently <%= @activity.humanize_action.downcase %> for <b data-endtimes="<%= @activity.ends_at %>"></b>
    </div>
    <% end %>
    <div class="activity_success" style="display:none;"></div>
    <div class="choice" data-choice-type="practice">
      <h4>How long would you like to practice?</h4>
      <h5>The longer you practice the more skill points you may receive</h5>
      <ul>
        <li><%= link_to "5 minutes", new_band_activity_path(band_id: @band.id, type: 'practice', hours: '5') %></li>
        <li><%= link_to "15 minutes", new_band_activity_path(band_id: @band.id, type: 'practice', hours: '15') %></li>
        <li><%= link_to "30 minutes", new_band_activity_path(band_id: @band.id, type: 'practice', hours: '30') %></li>
        <li><%= link_to "1 hour", new_band_activity_path(band_id: @band.id, type: 'practice', hours: '60') %></li>
      </ul>
    </div>

    <div class="choice" data-choice-type="gig">
      <h4>What venue would you like to play?</h4>
      <h5>Choose a venue carefully! If you choose a high-cap venue but aren't able to sell many tickets, it will hurt the perception (and future fans) of your band.</h5>
      
      <div class="items">
      <% Venue.order('capacity ASC').each do |venue| %>
          <%= link_to(new_band_activity_path(band_id: @band.id, type: 'gig', venue: venue.id)) do %>
          <b><%= venue.name %></b>
          <span>Capacity: <strong><%= number_with_delimiter(venue.capacity) %></strong></span>
          <% end %>
      <% end %>
      </div>
    </div>

    <div class="choice" data-choice-type="write-song">
      <h4>How long would you like to write a song?</h4>
      <h5>The longer you spend on your song, the higher quality it will be.</h5>
      <ul>
        <li><%= link_to "2 minutes", new_band_activity_path(band_id: @band.id, type: 'write_song', hours: '2') %></li>
        <li><%= link_to "10 minutes", new_band_activity_path(band_id: @band.id, type: 'write_song', hours: '10') %></li>
        <li><%= link_to "30 minutes", new_band_activity_path(band_id: @band.id, type: 'write_song', hours: '30') %></li>
        <li><%= link_to "1 hour", new_band_activity_path(band_id: @band.id, type: 'write_song', hours: '60') %></li>
      </ul>
    </div>

    <div class="choice" data-choice-type="record">
      <h4>Record a song</h4>
      <%= form_tag("/bands/#{@band.id}/activities/new", method: "get") do %>
        <%= hidden_field_tag 'type', 'record_single' %>
        <h5>What song would you like to record?</h5>
        <div class="form-group">
        <% @band.songs.each do |song| %>
          <div class="form-radio">
          <%= radio_button_tag(:song_id, song.id, false, class: '') %>
          <label class="form-check-label">
            <%= song.name %> (Quality: <%= song.quality %>)
          </label>
          </div>
        <% end %>
        </div>

        <div class="form-group">
          <label>What studio would you like to use?</label>
          <%= collection_select(:studio, :studio_id, Studio.all, :id, :full_studio, class: 'form-control') %>
        </div>

        <%= submit_tag("Start recording song", class: 'btn') %>
      <% end %>
    </div>

    <div class="choice" data-choice-type="release">
      <h4>Release a single or album</h4>
      <h5>The more buzz you have when you release an album, the better your sales will be!</h5>
      <% if @band.recordings.count > 0 %>
        <%= form_tag("/bands/#{@band.id}/activities/new", method: "get") do %>
          <%= hidden_field_tag 'type', 'release' %>
          <h6>Select songs to include in the release</h6>

          <div class="form-group">
            <% @band.recordings.each do |recording| %>
              <div class="form-check">
                <%= check_box_tag('recording_ids[]', recording.id, false, class: '') %>
                <label class="form-check-label">
                  <%= recording.song.name %> (Quality: <%= recording.song.quality %>)
                </label>
              </div>
            <% end %>
          </div>

          <div class="form-group">
            <h6>What would you like to name this release?</h6>
            <%= text_field_tag('release[name]', '', class: 'form-control') %>
          </div>

          <div class="form-group">
            <%#= collection_select(:release, :kind, @band.recordings.where(release_at: nil), :id, :full_recording, class: 'form-control') %>
            <h6>What type of release is this?</h6>
            <%= select(:release, :kind, [['Single', 'single'], ['EP', 'ep'], ['LP', 'lp']]) %>
          </div>

          <%= submit_tag("Release", class: 'btn') %>
        <% end %>
      <% else %>
        You currently have no unreleased recordings!
      <% end %>
    </div>

    <div class="choice" data-choice-type="rest">
      <h4>How long would you like to rest?</h4>
      <h5>The longer you rest, the less fatigued you'll be.</h5>
      <ul>
        <li><%= link_to "1 minute", new_band_activity_path(band_id: @band.id, type: 'rest', hours: '1') %></li>
        <li><%= link_to "10 minutes", new_band_activity_path(band_id: @band.id, type: 'rest', hours: '10') %></li>
        <li><%= link_to "30 minutes", new_band_activity_path(band_id: @band.id, type: 'rest', hours: '30') %></li>
        <li><%= link_to "1 hour", new_band_activity_path(band_id: @band.id, type: 'rest', hours: '60') %></li>
      </ul>
    </div>

  </div>
</section>


<section class="activities">
  <div class="releases">
    <div class="latest">
      <h5>Latest Release</h5>
      <div class="release">
        <div class="album-art" data-seed="a"  data-size="70"></div>
        <div class="details">
          <h6>Goth Keytar <small>43</small></h6>
          <span>April 20, 2018</span>
        </div>
      </div>
    </div>
    <div class="popular">
      <h5>Popular Releases</h5>
      <div class="release">
        <div class="album-art" data-seed="a" data-size="40"></div>
        <div class="details">
          <h6>Goth Keytar <small>43</small></h6>
          <span>1,582,194</span>
        </div>
      </div>
      <div class="release">
        <div class="album-art" data-seed="e" data-size="40"></div>
        <div class="details">
          <h6>Brunch Kale Chips <small>29</small></h6>
          <span>981,291</span>
        </div>
      </div>
      <div class="release">
        <div class="album-art" data-seed="f" data-size="40"></div>
        <div class="details">
          <h6>Mixtape Ramps <small>43</small></h6>
          <span>498,512</span>
        </div>
      </div>
    </div>
  </div>
  <div class="items">
    <nav>
      <ul class="tabs">
        <li><a href="#" class="active" data-tab="tab-news">News</a></li>
        <li><a href="#" data-tab="tab-songs">Songs</a></li>
        <li><a href="#" data-tab="tab-recordings">Recordings</a></li>
      </ul>
    </nav>
    <div class="tab-content news active" id="tab-news">
      <ol>
        <%= render template: "bands/happenings" %>
      </ol>
    </div>
    <div class="tab-content songs" id="tab-songs">
      <p>Here are all the songs <%= @band.name %> has written.</p>
      <ul>
        <% @band.songs.each do |song| %>
        <li>
          <%= song.name %> (Quality: <%= song.quality %>)
          <% if manager_signed_in? and @band.manager == current_manager %>
          <%= link_to band_song_path(@band, song), method: :delete, data: { confirm: "Are you sure you want to delete #{song.name}?" } do %>
            <%= fa_icon 'ban', class: 'text-danger d-inline float-right' %>
          <% end %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="tab-content recordings" id="tab-recordings">
      <p>Here are all the songs <%= @band.name %> has recorded.</p>
      <ul>
        <% @band.recordings.each do |recording| %>
        <li>
          <%= recording.song.name %> (<%= recording.studio.name %> &bull; Quality: <%= recording.quality %>)
          <% if manager_signed_in? and @band.manager == current_manager %>
          <%= link_to band_recording_path(@band, recording), method: :delete, data: { confirm: "Are you sure you want to delete #{recording.song.name}?" } do %>
            <%= fa_icon 'ban', class: 'text-danger d-inline float-right' %>
          <% end %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>
<section class="gigs">
  <h5>Gigs</h5>
  <ol class="gig-listing">
    <% @band.gigs.order('played_on desc').limit(3).each do |gig| %>
    <li>
      <div class="cal"><strong><%= gig.played_on.strftime('%^b') %></strong><span><%= gig.played_on.strftime('%-d') %></span></div>
      <div class="info">
        <h6><%= gig.venue.name %></h6>
        <p><%= as_game_currency(gig.money_made) %>, <%= pluralize(gig.fans_gained, 'new fan') %></p>
      </div>
    </li>
    <% end %>
  </ol>
</section>